.root {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color: #669ae8;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  &:hover {
    background: #597eb6;
  }
}
.skyBlueColor{
  color: #669ae8;
}